@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo img {
    width: 50%;
}

header .nav .menu-hamburguer {
    display: none;
}


header .nav .nav-menu {
    display: flex;
}

header .nav .nav-menu .nav-item {
    margin-left: 70px;
    
}

header .nav .nav-menu .nav-item .nav-link {
    color: #303033;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

header .nav .nav-menu .nav-item .nav-link:hover {
    color: #FE4400;
}

main .home {
    height: 100vh;
    background: #9053F7;
    margin-top: 70px;
    padding-bottom: 100px;
} 

main .home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

main .home .home-container .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-left: 200px;
    flex: 1;
}

main .home .home-container .home-content h1 {
    font-size: 45px;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 100px 0 30px 0;
}



main .home .home-container .home-content .home-content-box {
    border: 1px solid white;
    border-radius: 20px;
    height: 85px;
    width: 230px;
    text-align: left;
    text-transform: uppercase;
    padding: 8px 25px;
    margin-bottom: 30px;
}


main .home .home-container .home-content .home-content-box h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

main .home .home-container .home-content .home-content-box p {
    font-size: 15px;
    font-weight: 400;
    color: white;
}

main .home .home-container .home-content .home-content-first-p {
    font-size: 25px;
    font-weight: bold;
    color: white;
    width: 70%;
    margin-bottom: 25px;
}

main .home .home-container .home-content .home-content-second-p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 75%;
    margin-bottom: 25px;
}

main .home .home-container .home-content .home-content-second-p span {
    color: #FE4400;
    font-weight: bold;
}

main .home .home-container .home-content .home-content-third-p {
    font-size: 20px;
    font-weight: 400;
    color: white;
    width: 75%;
}

main .home .home-container .home-img {
    margin-right: 100px;
    flex: 1;
    width: 100%;
    
}

main .home .home-container .home-img img{
    width: 550px;
    margin-top: 100px;
    padding-right: 50px;
}

main .operation {
    background: #9053F7;
    padding: 50px 0;
}

main .operation .operation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .operation .operation-container .operation-h3 {
    margin-bottom: 20px;
    padding: 0 30px
}

main .operation .operation-container .operation-h3 h3 {
    color: white;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
}

main .operation .operation-container .operation-h2  {
    width: 100%;
    text-align: center;
}

main .operation .operation-container .operation-h2 h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

main .operation .operation-container .operation-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

main .operation .operation-container .operation-card .operation-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    margin-left: 50px;
    transition: all 0.4s ease-in-out;
}

main .operation .operation-container .operation-card .operation-card-content:hover {
    transform: scale(1.1);
    border: 1px solid #FE4400;
}

main .operation .operation-container .operation-card .operation-card-content .logo-card {
    margin: 20px;
}

main .operation .operation-container .operation-card .operation-card-content .logo-card svg {
    width: 65px;
    height: 65px;
}

main .operation .operation-container .operation-card .operation-card-content .operation-card-content-p {
    padding: 0 20px;
}

main .operation .operation-container .operation-card .operation-card-content .operation-card-content-p p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

main .faq {
    background: white;
    margin-bottom: 50px;
}

main .faq .faq-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

main .faq .faq-container .faq-text h3 {
    color: #3B0596;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
}

main .faq .faq-container .faq-text h2 {
    color: #3B0596;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
    /* width: 23rem; */  /* olhar mais tarde */
}


main .faq .faq-container .faq-accordion {
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid #FE4400;
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

main .faq .faq-container .faq-accordion .icon {
    margin: 0 10px 0 0;
    min-height: 25px;
    min-width: 25px;
    background: url(assets/plus.svg) no-repeat 1px 1px #FE4400;
    border-radius: 50%;
    float: left;
    transition: all 0.4s ease-in-out;
}

main .faq .faq-container .faq-accordion.active .icon {
    background: url(assets/minus.svg)  1px -23px white;
}

main .faq .faq-container .faq-accordion.active {
    background: #FE4400;
    border-radius: 50px;
    color: white;
} 

main .faq .faq-container .faq-accordion.active h5 {
    color: white;
}

main .faq .faq-container .faq-accordion h5 {
    font-size: 17px;
    font-weight: 600;
    color: #3B0596;
}

main .faq .faq-container .faq-panel {
    border-left: 1px solid #FE4400;
    padding: 0 15px;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
}  

main .schedule {
    width: 100%;
    background:#E5E5E5;
}

main .schedule .schedule-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main .schedule .schedule-container .schedule-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 200px;
    padding-top: 25px;
}

main .schedule .schedule-container .schedule-content-width {
    width: 50%;
}

main .schedule .schedule-container .schedule-content .schedule-content-width p {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

main .schedule .schedule-container .schedule-content .schedule-content-width span {
    color: #FE4400;
}

main .schedule .schedule-container .schedule-content-width .schedule-button  button {
    border: none;
    background: #3B0596;
    color: white;
    padding: 10px 60px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 30px 0;
    transition: all 0.4s ease-in-out;
}

main .schedule .schedule-container .schedule-content-width .schedule-button  button:hover {
    background: #5b23bb;
}

main .schedule .schedule-container .schedule-content-width .schedule-text p {
    font-size: 16px;
    color: #303033;
} 

main .schedule .schedule-container .schedule-content-width .schedule-text .schedule-link {
    margin-top: 20px;
}

main .schedule .schedule-container .schedule-content-width .schedule-text .schedule-link a {
    color: #303033;
    font-weight: bold;
}

main .schedule .schedule-container .schedule-img {
    flex: 1;
    width: 100%;
    margin-top: 30px;
}

main .schedule .schedule-container .schedule-img img {
    width: 500px;
}

.footer .footer-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #303033;
}

.footer .footer-container .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #303033;
    width: 500px;
}

.footer .footer-container .footer-content .footer-logo  {
    margin-top: 40px;
    margin-left: 70px;
}

.footer .footer-container .footer-content .footer-logo img {
    width: 80%;
}

.footer .footer-container .footer-content .footer-text {
    margin-top: 20px;
    flex-wrap: wrap;
}

.footer .footer-container .footer-content .footer-text h3 {
    font-size: 32px;
    color: white;
    text-align: center;
}
 
.footer .footer-container .footer-content .social-media {
    margin-top: 20px;
}

.footer .footer-container .footer-content .social-media svg {
    margin-left: 20px;
    color: white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.footer .footer-container .footer-content .social-media svg:hover {
    color: #FE4400;
}

.footer .footer-container .footer-content .reserved {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.footer .footer-container .footer-content .reserved p {
    color: white;
}


@media(max-width:1100px) {

    header .nav .nav-menu {
        display: none;
    }

    header .nav .menu-hamburguer {
        display: flex;
    }

    main .home {
        height: 60vh;
    }

    main .home .home-container .home-content {
        padding-left: 1px;
        text-align: center;
        align-items: center;
        height: 100%;
        margin-top: 100px;
    }

    main .home .home-container .home-content .home-content-second-p {
        margin-bottom: 30px;
    }

    main .home .home-container .home-content .home-content-third-p {
        margin-bottom: 50px;
    }

    main .home .home-container .home-img {
        display: none;
    }

    main .operation .operation-container .operation-card {
        flex-direction: column;
    }
    main .operation .operation-container .operation-h2{
        width: 70%;
    }

    main .operation .operation-container .operation-card .operation-card-content {
        margin-bottom: 40px;
        margin-left: 0;
    }

    main .operation .operation-container .operation-card .operation-card-content .operation-card-content-p {
        text-align: center;
    }

    main .schedule .schedule-container .schedule-content {
        align-items: center;
        padding-left: 0;
    }

    main .schedule .schedule-container .schedule-content .schedule-content-width {
        width: 40%;
        text-align: center;
    }

    main .schedule .schedule-container .schedule-content .schedule-content-width .schedule-text .schedule-link {
        margin-bottom: 25px;
    }


    main .schedule .schedule-container .schedule-img {
        display: none;
    }
    
}

@media(max-width:750px) {

    main .home {
        height: 100vh    
    }


    main .home .home-container .home-content h1 {
        font-size: 35px;
    }

    main .home .home-container .home-content .home-content-second-p {
        font-size: 17px;
    }

    main .home .home-container .home-content .home-content-third-p {
        font-size: 17px;
    }

    main .schedule .schedule-container .schedule-content .schedule-content-width {
        width: 70%;
    }

    main .schedule .schedule-container .schedule-content .schedule-content-width p {
        font-size: 22px;
    }

    main .schedule .schedule-container .schedule-content-width .schedule-button  button {
        font-size: 17px;
    }

    .footer .footer-container .footer-content .footer-text h3 {
        font-size: 27px;
    }

    .footer .footer-container .footer-content .footer-logo {
        margin-left: 75px;
    }

    .footer .footer-container .footer-content .footer-logo img{
        width: 70%;
    }

}

@media(max-width:550px) {

    main .home {
        height: 80vh;
    }

    main .home .home-container .home-content {
       margin-top: 30px;
    }

    main .operation .operation-container .operation-h3 h3, main .faq .faq-container .faq-text h3 {
        font-size: 22px;
    }

    main .operation .operation-container .operation-h2 h2, main .faq .faq-container .faq-text h2 {
        font-size: 26px;
    }

    main .faq .faq-container .faq-accordion h5, main .faq .faq-container .faq-accordion.active h5 {
        font-size: 14px;
    }

}

@media(max-width:320px) {
    main .home {
        height: 100vh;
    }

}

@media(max-width:280px) {

    main .home .home-container .home-content {
        margin-top: 80px;
    }
    main .operation .operation-container .operation-card .operation-card-content {
        width: 240px;
    }
}